<h3>Form to create new user / Register here</h3>

<form action="/users" method="post">

  <div class="form-group">
  <label for="name">Name</label>
  <input id='name' type="text" name="user[name]" value="">
  </div>

  <div class="form-group">
  <label for="address">Address</label>
  <input id='address' type="text" name="user[address]" value="">
  </div>



  <input type="submit" value="submit">
</form>
