<h2>Each User Page</h2>

<h3>This user is <%= @user[:name] %></h3>

<h4>The ID of this user is <%= @user[:id] %></h4>


<a href="/users/<%=@user[:id]%>/edit">Edit</a>
<a href="/users/<%=@user[:id]%>/delete">Delete</a>
