<h3>Form to create new product</h3>

<form action="/products" method="post">

  <div class="form-group">
  <label for="name">Name</label>
  <input id='name' type="text" name="product[name]" value="">
  </div>

  <div class="form-group">
  <label for="name">Brand ID</label>
  <input id='brand-id' type="text" name="product[brand_id]" value="">
  </div>

  <div class="form-group">
  <label for="name">Category ID</label>
  <input id='category-id' type="text" name="product[category_id]" value="">
  </div>

  <div class="form-group">
  <label for="address">Price</label>
  <input id='address' type="text" name="product[price]" value="">
  </div>



  <input type="submit" value="submit">
</form>
