<h2>Each Product Page</h2>

<h3>This product is <%= @product[:name] %></h3>

<h4>The ID of this product is <%= @product[:id] %></h4>

<a href="/products/<%=@product[:id]%>/edit">Edit</a>
<a href="/products/<%=@product[:id]%>/delete">Delete</a>
